@import './variables.scss';
@import './mixin.scss';

body {
  @include height-full;
  @include font-setting;
  background: $background;
  color: $baseColor;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
}

html {
  @include height-full;
  box-sizing: border-box;
}

label {
  font-weight: 700;
}

#app {
  @include height-full;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  text-decoration:none;
  color: #c0c0c0;
  &:hover {
    color: #3273dc;
  }
}